<section class="about container">
  <h1 class="text-center mb-5">About Us</h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa aliquam illum
    saepe fugiat, quidem excepturi alias aspernatur labore at magni id
    necessitatibus iure assumenda corrupti quisquam quia sequi eos quos . Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Architecto fuga,
    consequatur sed aut ipsum labore repudiandae dicta impedit maiores? Nihil
    modi maiores eum nulla expedita, voluptatibus ipsa libero maxime corrupti.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, optio
    adipisci distinctio delectus eveniet minus tempore explicabo mollitia!
    Assumenda accusantium harum facere numquam nesciunt! Officiis repellendus
    nesciunt itaque assumenda illo. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Odit, magnam repudiandae. Magni, tenetur voluptates
    perspiciatis suscipit voluptatibus tempora omnis incidunt, quidem sequi ea
    ipsum cum doloremque quaerat iure nisi assumenda? Lorem ipsum dolor, sit
    amet consectetur adipisicing elit. Sapiente, repudiandae. Nulla excepturi
    maiores debitis, expedita praesentium dolores tempora optio. Dicta quisquam
    possimus amet inventore culpa numquam, explicabo praesentium delectus quo!
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus fugit iste
    perspiciatis, asperiores voluptas totam consectetur ut dignissimos maxime
    fugiat exercitationem, illo magni cupiditate fuga temporibus ipsa
    repellendus aspernatur possimus.
  </p>
  <h3 class="text-center pt-1">Follow More</h3>
  <div class="follow text-center mt-3">
    <a href="#">
      <img src="https://cdn-icons-png.flaticon.com/128/733/733547.png" alt="" />
    </a>

    <a href="#"
      ><img
        src="https://cdn-icons-png.flaticon.com/128/174/174855.png"
        alt=""
      />
    </a>
    <a href="#"
      ><img
        src="https://cdn-icons-png.flaticon.com/128/3670/3670147.png"
        alt=""
      />
    </a>
    <a href="#"
      ><img
        src="https://cdn-icons-png.flaticon.com/128/733/733579.png"
        alt=""
      />
    </a>
  </div>
</section>
