<div class="login">
  <table>
    <thead>
      <tr>
        <h1>Regestration_Form</h1>
      </tr>
      <tr>
        <label for="">First_Name :</label>
        <input type="text" />
      </tr>
      <tr>
        <label for="">Last_Name :</label>
        <input type="text" />
      </tr>
      <tr>
        <label for="">Email :</label>
        <input type="text" />
      </tr>
      <tr>
        <label for="">Date :</label>
        <input type="date" />
      </tr>
      <tr>
        <label for="">Password :</label>
        <input type="text" />
      </tr>
      <tr>
        <label for="">Address :</label>
        <input type="text" />
      </tr>
      <tr>
        <label for="">Date_of_Birth :</label>
        <input type="Date" />
      </tr>
      <tr>
        <label for="">Phone_No :</label>
        <input type="text" />
      </tr>
      <tr>
        <label for="">File :</label>
        <input type="File" />
      </tr>
      <tr>
        <label for="">Gender :</label>
        <input type="radio" name="g" id="" />Male
        <input type="radio" name="g" id="" />Femlae
        <input type="radio" name="g" id="" />Other
      </tr>
      <tr>
        <label for="">Fav_Language :</label>
        <input type="checkbox" name="" id="" />Java
        <input type="checkbox" name="" id="" />Python
        <input type="checkbox" name="" id="" />C++
      </tr>
      <tr>
        <label for="">Choose_City :</label>
        <select name="" id="">
          <option value="">Select</option>
          <option value="">Bihar</option>
          <option value="">Haryana</option>
        </select>
      </tr>
      <tr>
        <label for="">Check_Me :</label>
        <input type="checkbox" />
      </tr>
      <tr>
        <button>Submit</button>
        <button>Reset</button>
      </tr>
    </thead>
  </table>
</div>
